body {
  background-image: linear-gradient(pink 1px, transparent 1px);
  background-size: 100% 1.5em;
  background-position-y: 0;
}
@mixin rdvr($amount, $ref-size) {
  $temp: vr($amount);

  $temp2: $temp * $base-font-size;



  @return $temp2;
}
