body {
  background-image: linear-gradient(pink 1px, transparent 1px);
  background-size: 100% 1.5em;
  background-position-y: 0;
}
@mixin rdvr($amount, $ref-size) {
  $temp: vr($amount);

  $temp2: $temp * $base-font-size;



  @return $temp2;
}

/* PLACEHOLDERS */
%section-padding {
  padding-top: vr(2);
  padding-bottom: vr(2);
}

%container {
  lost-center: $site__min-width;
  padding-left: em(10);
  padding-right: em(10);
}
