.shows {
  @extend %section-padding;
  @extend %container;
  overflow-x: hidden;

  &__heading {
    @extend %section__heading;
  }

  &__container {
    lost-masonry-wrap: no-flex;
    position: relative;
    overflow: hidden;
  }
}

.show {
  margin-bottom: vr(.25);
  lost-masonry-column: 1/2;

  @include respond-to(medium) {
    lost-masonry-column: 1/3;
  }

  @include respond-to(large) {
    lost-masonry-column: 1/4;
  }

  &__link {
    color: $color__gray--light;
  }


}
