.sponsors {
  background: $color__gray--dark;
  @extend %section-padding;

  &__heading {
    @extend %section__heading;
    color: $color__gray--light;
  }

  &__container {
    @extend %container;
  }

}
.sponsor {
  lost-column: 1/2;

  @include respond-to(medium) {
    lost-column: 1/4;
  }
}
