<header data-scroll-header role="banner" class="header">
  <div class="nav__container">
    <button id="nav-toggle" class="nav__toggle"><span class="icon icon__hamburger icon__hamburger--htx">Menu</span></button>
    <nav role="navigation" aria-label="primary" class="nav nav--primary">
      <ul id="nav-list" class="nav__list">
        {% for navitem in site.data.nav %}
        <li class="nav__item"><a data-scroll href="{{site.baseurl}}{{navitem.url}}" class="nav__link">{{navitem.name}}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
