<div id="hero" class="hero">
  <h1>The Last Seen Festival</h1>
  <div class="about__buttons">
    <button class="about__button">Tickets</button>
    <button class="about__button">Shows</button>
    <button class="about__button">Workshops</button>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quia.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio impedit, et ea sit reprehenderit itaque assumenda delectus tempore, esse, similique, vel atque in aspernatur tempora iusto iste quod expedita quas veniam! Possimus, qui, corrupti! Doloremque eius error quo culpa nemo ipsum, a iure repellendus vitae sit earum. Rerum, sint, eligendi.</p>
</div>
