<section id="schedule" class="schedule">
  <h2 class="schedule__heading">Schedule</h2>
  <div class="schedule__container">
    {% assign schedule_grouped = (site.shows | group_by: 'date' | sort: 'date') %}
    {% for group in schedule_grouped %}
    <div class="schedule__item">
      <div class="schedule__date">
        <div class="schedule__day">{{group.name | date: '%A'}}</div>
        <div class="schedule__month">{{group.name | date: '%B %d'}}</div>
      </div>
      <div class="schedule__info">
        <dl>
          {% assign items = group.items | group_by: 'time' | sort:'name' %}
          {% for y in items %}
          <dt class="schedule__time">{{y.name | date: '%-I:%M %P'}}</dt>
          {% assign show_sort = y.items | sort:'lineup' %}
          {% for show in show_sort %}
          <dd class="schedule__show"><a class="schedule__link" href="{{show.url}}">{{show.title}}</a></dd>
          {% endfor %}
          {% endfor %}
        </dl>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
