<section id="workshops" class="workshops">
  <h2 class="workshops__heading">Workshops</h2>
  <div class="workshops__container">
    {% assign sorted = (site.workshops | sort: 'timeofday') %}
    {% for workshop in sorted %}
    <div class="workshops__workshop workshop">
      <h3 class="workshop__title">{{workshop.title}}</h3>
      {% capture wsd %} {{workshop.date}} {{workshop.timeofday}} {% endcapture %}
      {% assign dow = workshop.date | date: "%Y-%m-%d" %}
      {% assign tod = workshop.timeofday %}
      <div class="workshop__time"><time datetime='{{dow}}'>{{workshop.date | date: '%B %d'}}</time> at <time datetime='{{tod}}'>{{tod | date: '%-I:%M %P'}}</time></div>
      <div class="workshop__description">{{workshop.content}}</div>
      <dl class="workshop__teachers">
        <dt>Instructor:</dt>
        {% for id in workshop.instructor %}
        {% assign teacher = site.performers | where: "pid", id.id | first %}
        <dd><a class="workshop__link" href="{{teacher.url}}">{{teacher.name}}</a></dd>
        {% endfor %}
      </dl>
    </div>
    {% endfor %}
  </div>
</section>
