<section id="workshops" class="workshops">
  <h2 class="workshops__heading">Workshops</h2>
  <div class="workshops__container">
    {% for workshop in site.workshops %}
    <div class="workshops__workshop workshop">
      <h3 class="workshop__title">{{workshop.title}}</h3>
      <time datetime='2016-11-19'>{{workshop.date}}</time>
      <time datetime='11:00'>{{workshop.time}}</time>
      <div class="workshop__description">{{workshop.content}}</div>
    </div>
    {% endfor %}
  </div>
</section>
