.button {
  border: 0;
  border-radius: 6px;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  overflow: hidden;
  cursor: pointer;
  background: $color__primary--alt;
  color: white;
  padding: em(10);
  font-family: $font__family--base-sans;
}
