.button {
  border: 0;
  border-radius: 6px;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  overflow: hidden;
  cursor: pointer;
}
