body {
  line-height: $font__line-height;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font__family--heading-serif;
}
h1 {
  font-size: ms(4);
}

h2 {
  font-size: ms(3);
}

h3 {
  font-size: ms(2);
}

p {
  font-family: $font__family--base-serif;
  margin-bottom: $font__line-height * ms(0);
}
