html {
  font-family: $font__family--base-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font__family--heading-serif;
}

$h1-font-map: (
  null: (ms(4), vr(2)),
);
$h2-font-map: (
  null: (ms(3), vr(2)),
);
$h3-font-map: (
  null: (ms(2), vr(1.25)),
);
$h4-font-map: (
  null: (ms(1), vr(1)),
);

html {
  @include typi-base();
}
h1{
  @include typi($h1-font-map);
  margin-bottom: vr(1);
}
h2{
  @include typi($h2-font-map);
}
h3{
  @include typi($h3-font-map);
  font-family: $font__family--base-serif;
}
h4{
  @include typi($h4-font-map);
}
p {
  margin-bottom: vr(1);
}
