.hero {
  width: 100%;
  height: em(650);
  background: lightskyblue;
  display: table;

  &__container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__countdown {
    & span {
      display: inline-block;
    }
  }
}
