$navigation__height: 50px;

.header {
  background-color: $color__primary;
  width: 100%;
  min-height: $navigation__height;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1000;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  @include respond-to(medium) {
    background-color: transparent;
    padding: 50px 0;
  }

  &--collapse {
    background-color: $color__primary;
    padding: 20px 0;
  }

  // detail page adjustment
  body.show-page & {
    padding: 0;
    background-color: $color__primary--alt;
    position: relative;
  }
}

.nav {
  display: none;

  @include respond-to(medium) {
    display: block;
  }

  &__container {
    @extend %container;
  }

  &__toggle {
    display: block;
    position: relative;
    //background: none;
    padding: 0;
    margin: 8px 0;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    background: #fff;

    @include size(45px 35px);

    &:hover, &:focus {
      //background: transparent;
      outline: none;
    }

    @include respond-to(medium) {
      display: none;
    }
  }

  &__list {

    @include respond-to(medium) {
      float:right;
    }

  }


  &__item {
    display: block;
    font-family: $font__family--base-sans;

    @include respond-to(medium) {
      display: inline-block;
    }

  }

  &__link {
    display: block;
    line-height: vr(1);
    padding: vr(.5);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: color .5s ease-in-out;
    @include respond-to(medium) {
      color: $color__primary--alt;
    }

    .header--collapse & {
      color: white;
    }

    body.show-page & {
      color: white;
    }

  }

}
